@media screen and (min-width: 769px){
footer{
	color: white;
	text-align: right;
	background: black;
	/*border: 1px solid #000;*/
	min-width: 200px;
	clear: left;
	word-wrap: break-word;
	}
}

@media screen and (max-width: 768px){
footer{
	color: white;
	text-align: right;
	background: black;
	/*border: 1px solid #000;*/
	height: 100%;
	clear: left;
	word-wrap: break-word;
	}
}

/*Galaxy S3*/
@media screen and (max-width: 480px){
footer{
	color: white;
	text-align: right;
	background: black;
	/*border: 1px solid #000;*/
	height: 100%;
	clear: left;
	word-wrap: break-word;
	}
}

@media screen and (max-width: 320px){
footer{
	color: white;
	text-align: right;
	background: black;
	/*border: 1px solid #000;*/
	height: 100%;
	clear: left;
	word-wrap: break-word;
	}
}
