@media screen and (min-width: 769px){
header{
	background: yellow;
	/*border: 1px solid #000;*/
	height: 200px;
	}
}

@media screen and (max-width: 768px){
header{
	background: yellow;
	/*border: 1px solid #000;*/
	height: 70px;
	}
}

@media screen and (max-width: 480px){
header{
	background: yellow;
	/*border: 1px solid #000;*/
	height: 50px;
	}
}

@media screen and (max-width: 320px){
header{
	background: yellow;
	/*border: 1px solid #000;*/
	height: 30px;
	}
}